.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

%shadowForBlock {
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
//

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@media (max-width: 1099px) {
}

@media (max-width: 960px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
%link-style {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #101010;
}

%footerLink-style {
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;
	color: #101010;
}

* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
a {
	text-decoration: none;
}

body {
	max-width: 1100px;
	margin: 0 auto;
	background: #eaeaea;
	height: 100%;
}
.mainWrapper {
	min-height: calc(100vh - 190px);
	padding: 0 6px;
}
// header
.header {
	display: grid;
	max-width: 1110px;
	grid-template-rows: 60px;
	grid-template-columns: 0.5fr 1fr 1fr;
	align-items: center;
	&__select {
		margin-left: 18px;
	}
}
.logo {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: black;
}
.headerLogo {
	text-align: left;
}
.selectProduct {
	.active {
		color: #ffa542;
		svg {
			fill: #ffa542;
		}
	}
	display: flex;
	position: relative;
	width: 235px;
	a {
		@extend %link-style;
		&:hover {
			opacity: 0.7;
		}
	}

	&__phone {
		display: inline-block;
		margin-right: 70px;
		svg {
			position: absolute;
			left: -25px;
		}
	}

	&__headphone {
		svg path {
			fill: #838383;
		}
		svg {
			position: absolute;
			left: 115px;
			top: -3px;
		}
	}
}
.userMenu {
	position: relative;
	display: flex;
	justify-content: end;
	svg:hover {
		opacity: 0.7;
	}

	&__like {
		margin: 3px 18px auto auto;
	}

	&__like-counter {
		@extend %link-style;
		color: #eaeaea;
		position: absolute;
		background: #ffa542;
		width: 19px;
		height: 19px;
		border-radius: 50%;
		top: -6px;
		right: 69px;
		text-align: center;
	}

	&__cart {
		margin-right: 11px;
	}

	&__cart-counter {
		@extend %link-style;
		color: #eaeaea;
		position: absolute;
		background: #ffa542;
		min-width: 19px;
		min-height: 19px;
		border-radius: 50%;
		top: -6px;
		right: -1px;
		text-align: center;
	}
}

// @media (max-width: 1199px) {
// 	.header {
// 		width: 900px;
// 		grid-template-columns: 0.5fr 1fr 0.5fr;
// 	}
// }

// @media (max-width: 960px) {
// 	.header {
// 		width: 700px;
// 		grid-template-columns: 0.5fr 1fr 0.3fr;
// 	}
// }

// @media (max-width: 767px) {
// 	.header {
// 		width: 540px;
// 		grid-template-columns: 0.5fr 1fr 0.3fr;
// 	}
// }

@media (max-width: 575px) {
	.header {
		// width: 400px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 40px 60px;
	}
	.headerLogo {
		grid-column-start: 1;
		grid-column-end: 3;
		justify-self: center;
	}
	.selectProduct {
		margin-left: 30px;
	}
}
// banner
.bannerWrapper {
	margin-top: 22px;
}
.banner {
	position: relative;
	max-width: 1110px;
	height: 197px;
	background: #101010;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;

	overflow: hidden;
	img {
		position: absolute;
		right: 87px;
		bottom: -20px;
	}
	h1 {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		text-align: center;
		color: white;
		width: 643px;
		height: 74px;
		margin: 58px auto auto 50px;
	}
}

@media (max-width: 1199px) {
}

@media (max-width: 960px) {
	.banner {
		display: none;
	}
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
// product
.productListWrapper {
	margin: 30px auto 30px auto;
}
.productList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #838383;
	align-items: center;

	&__select {
	}

	&__sort {
		svg {
			width: 24px;
			height: 24px;
			margin-left: 10px;
			margin-right: 10px;
			transition: transform 0.2s;

			&.active {
				transform: rotate(180deg);
				transition: transform 0.2s;
			}
		}
	}
}
.sort {
	position: relative;
	font-size: 18px;
	&__lable {
		display: flex;
		span {
			margin-left: 4px;
			color: #ffa542;
			border-bottom: 1px dashed #ffa542;
			cursor: pointer;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__list {
		position: absolute;
		right: 0;
		z-index: 999;
		background: #ffffff;
		box-shadow: 0px 5px 15px rgba(5, 5, 5, 0.09);
		border-radius: 10px;
		overflow: hidden;
		ul {
			overflow: hidden;
			list-style-type: none;
			padding: 0;
			li {
				padding: 12px 12px 12px 20px;
				text-align: left;
				cursor: pointer;
				&.active,
				&:hover {
					background: rgba(254, 95, 30, 0.05);
				}
				&.active {
					font-weight: bold;
					color: #ffa542;
				}
			}
		}
	}
}
.wrapper {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 350px);
	gap: 20px 20px;
}

.productCard {
	width: 350px;
	height: 430px;
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 15px 22px;

	&__like {
		width: 20px;
		height: 20px;
		svg {
			cursor: pointer;
			&:hover {
				// fill: #ffa542;
				fill: black;
				opacity: 0.7;
			}
		}
	}
	a {
		color: black;
	}
	&__img {
		text-align: center;
		width: 300px;
		height: 280px;
		margin: 4px auto 0px;
		img {
			width: 100%;
			height: 100%;
			transition: transform 0.25s;
			&:hover {
				transform: scale(1.03);
			}
		}
	}

	&__titlt {
		// display: flex;
		// flex-direction: row;
		// justify-content: space-between;
		margin-top: 12px;
		height: 44px;

		h3 {
			font-style: normal;
			display: inline-block;
			margin: 0;
			font-weight: 600;
			font-size: 17px;
			&:hover {
				color: #ffa542;
			}
		}
	}

	&__price {
		font-weight: 600;
		font-size: 17px;
		line-height: 21px;
		color: #ffa542;
	}

	&__raiting {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 16px;
	}

	&__ratingStar {
	}

	&__ratingNam {
		margin: 3px auto auto 10px;
	}
}
@media (max-width: 1099px) {
	.wrapper {
		display: grid;
		grid-template-columns: repeat(2, 350px);
		gap: 20px 4vw;
	}
}

@media (max-width: 960px) {
	.productList {
		flex-direction: column;
	}
	.productList > div {
		margin: 15px;
	}
}

@media (max-width: 767px) {
	.wrapper {
		display: grid;
		grid-template-columns: 350px;
		// gap: 1vw 4vw;
	}
}

@media (max-width: 575px) {
	.productList {
		flex-direction: column;
		&__items {
			margin-top: 20px;
		}
	}
}
// footer
.footerWrapper {
	margin-top: 40px;
	// position: relative;
	// bottom: calc(100vh - 150px);
	// position: fixed;
	// bottom: 0;
	// min-height: calc(100vh - 150px);
}

.footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	max-width: 1100px;
	min-height: 149px;
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px 30px 0px 0px;
	padding: 22px;

	a:not(.logo) {
		@extend %footerLink-style;
		&:hover {
			opacity: 0.8;
		}
	}
	&__Logo {
		margin: 10px 20px;
		// font-weight: 700;
		// font-size: 25px;
		// line-height: 30px;
	}

	&__Nav {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 40px;
		a {
			margin-top: 10px;
		}
	}
	&__LengBlock {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 40px;
		margin-top: 10px;
	}

	&__title {
	}

	&__lang {
		margin-top: 33px;
		.active {
			color: #ffa542;
		}
	}

	&__Links {
		margin-top: 20px;
	}
}
.logo {
}
.langSelect {
	display: flex;
	flex-direction: row;
	&_rus {
		margin-left: 15px;
	}

	&_eng {
		margin-left: 15px;
	}
}
.link > a {
	margin-left: 18px;
}
@media (max-width: 1199px) {
}

@media (max-width: 960px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
	.footer {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		justify-items: center;
		&__LengBlock {
			margin-left: 53px;
		}
		&__Nav {
			margin-left: 0;
		}
	}
}
//CardProduct

.productWrapper {
	margin-top: 26px;
	display: flex;
	flex-direction: row;

	&__button {
		margin-left: 45px;
	}
}
.productMain {
	max-width: 800px;
	width: 100%;
	height: 668px;
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;

	&__like {
		width: 20px;
		width: 20px;
		display: inline;
		margin: 22px 25px;
		float: left;
		cursor: pointer;
		svg:hover {
			opacity: 0.7;
		}
	}
	&__title {
	}

	&__slider {
		max-width: 500px;
		height: 500px;
		padding-top: 25px;
		margin: auto;
	}
	&__price {
		float: right;
		font-weight: 600;
		font-size: 28px;
		line-height: 34px;
		color: #df6464;
		margin: 30px 50px;
	}
}
.slider {
	max-width: 450px;
	max-height: 450px;
	margin: auto;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.ButtonBlock {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
}
.productButton {
	display: inline-block;
	width: 254px;
	height: 45px;
	background: #101010;
	color: #ffffff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 11px 43px;
	text-align: center;
	cursor: pointer;
	font-size: 15px;
	&:hover {
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
	}
}
.ButtonBlock .productButton:first-child {
	margin-bottom: 25px;
}
.title {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
.productAbout {
	&__titlt {
		position: relative;
		top: 50px;
		max-width: 1100px;
		height: 65px;
		background: #ffffff;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		padding: 20px 25px;
	}

	&__content {
		max-width: 1100px;
		background: #f9f9f9;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		padding: 40px 25px;
	}
}
@media (max-width: 1099px) {
	.productWrapper {
		flex-direction: column;

		&__button {
			margin-top: 40px;
			align-self: center;
		}
	}
	.ButtonBlock {
		align-self: center;
	}
}

@media (max-width: 960px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
// cart
.emptyCartWrapper {
	margin-top: 40px;
}
.emptyCart {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__logo {
		max-width: 410px;
		min-width: 400px;
		min-height: 300px;
		img {
			width: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}

	&__title {
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
	}

	&__subTitle {
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: #838383;
		text-align: center;
	}

	&__button {
		margin-top: 60px;
		max-width: 540px;
		width: 100%;
		cursor: pointer;
		span {
			height: 65px;
			color: #ffffff;
			background: #101010;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
			border-radius: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 600;
			font-size: 20px;
		}
	}
}

// like
.LikesTitle {
	margin: 30px;
	font-weight: 600;
}
.likeItemWrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}

.likeItem {
	&__like {
		width: 20px;
		margin: 10px;
		grid-column-start: 3;
		grid-row-start: 1;
		cursor: pointer;
		svg:hover {
			opacity: 0.7;
		}
	}

	&__img {
		height: 179px;
		width: 199px;
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
			transition: 00.25s;
			&:hover {
				transform: scale(1.02);
			}
		}
	}
}
// order

.orderWrapper {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
}
.orderTitle {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #1c1c27;
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 8px;
}

.orderItem {
	max-width: 633px;
	width: 100%;
	height: 218px;
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	// grid-template-rows: 1.6fr 0.6fr;
	grid-column-start: 1;
	// grid-column-end: 1;
	gap: 5px;
	padding: 16px;

	&__img {
		width: 199px;
		height: 140px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			transition: 00.25s;
			&:hover {
				transform: scale(1.02);
			}
		}
	}

	&__infoBlock {
		margin-top: 60px;
		margin-left: 12px;
	}

	&__title {
		font-weight: 500;
		font-size: 17px;
		line-height: 21px;
		color: #1c1c27;
		&:hover {
			opacity: 0.7;
		}
	}

	&__price {
		font-weight: 600;
		font-size: 16px;
		line-height: 18px;
		margin-top: 16px;
		color: #ffa542;
	}

	&__counter {
		margin-left: 6px;
	}

	&__value {
		font-weight: 600;
		font-size: 18px;
		line-height: 18px;
		color: #1c1c27;
		justify-self: end;
	}
}

.counter {
	display: flex;
	flex-direction: row;
	width: 125px;
	justify-content: space-between;
	align-items: center;

	&__minus,
	&__plus {
		width: 35.17px;
		height: 30px;
		background: #ffce7f;
		border-radius: 50%;
		color: #ffffff;
		border: 0;
		cursor: pointer;
		box-shadow: 0 0 5px rgba(255, 206, 127, 0.5);
		&:hover {
			opacity: 0.8;
		}
	}
	&__minus {
		font-size: 50px;
		line-height: 21px;
		padding: 0px 0px 7px 0;
	}

	&__value {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 21px;
	}

	&__plus {
		font-size: 45px;
		line-height: 23px;
		padding: 0px 1px 1px;
	}
}
.orderConfirm {
	grid-column-start: 2;
	grid-row-start: 2;
	margin-top: 102px;
	&__top {
		width: 348.98px;
		height: 114px;
		background: #ffffff;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px;
	}

	&__title {
	}
	&__price {
		font-weight: 600;
		font-size: 18px;
	}

	&__title {
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
	}

	&__bottom {
		position: relative;
		top: -39px;
		left: -3px;
		width: 349.98px;
		height: 65px;
		background: #101010;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
		color: #ffffff;
		font-size: 17px;
		line-height: 21px;
		text-align: center;
		padding: 20px 68px;
		&:hover {
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
		}
	}
}

.clearCart {
	grid-row-start: 2;
	grid-column-end: 3;
	// position: relative;
	top: -67px;
	// grid-row-start: 1;
	// grid-row-end: 3;
	width: 349.98px;
	height: 48px;
	background: #101010;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	color: #ffffff;
	font-size: 17px;
	line-height: 21px;
	text-align: center;
	margin-right: 5px;
	justify-self: end;
	&:hover {
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
	}
}

@media (max-width: 1099px) {
	.orderWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.orderConfirm {
		// grid-column-start: 1;
		// grid-row-start: end;
	}
}

@media (max-width: 960px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
// slider
.subSlider {
	margin-top: 24px;
	margin-left: 45px;
	user-select: none;
	display: flex;
	align-items: center;
	height: 70px;
	width: 350px;
	&__window {
		height: 100%;
		width: 300px;
		overflow: hidden;
	}
	&__carousel {
		height: 100%;
		float: left;
		display: flex;
		justify-content: center;
		align-items: center;

		transition: translate;
		transition-property: transform;
		// transition-duration: 300ms;
		transition-timing-function: ease-in-out;
		img {
			height: 100%;
			margin: 0 15px;
			cursor: pointer;
		}
	}
}

.svgLeft {
	width: 18px;
	height: 18px;
}
.svgRight,
.svgLeft {
	cursor: pointer;
}
.svgRight {
	width: 18px;
	height: 18px;
	transform: rotate(180deg);
}
.activeSliderItem {
	border: 1px solid rgba(255, 165, 66, 0.7);
	border-radius: 5px;
	margin: 0 14px;
}
@media (max-width: 1099px) {
}

@media (max-width: 960px) {
}

@media (max-width: 767px) {
	.subSlider {
		margin-left: -25px;
	}
}

@media (max-width: 575px) {
	.productMain {
		height: 733px;
	}
	.productMain__price {
		float: none;

		margin-top: 100px;
	}
	.subSlider {
		margin-left: 57px;
	}
}
// ordering
.orderingWrapper {
	margin: 28px 0 12px 0;
}

.orderingTitle {
	text-align: left;
}
.formError {
	color: red;
	font-size: 13px;
	line-height: 0px;
}
.formError2 {
	margin-bottom: 10px;
}

.ordering {
	display: grid;
	grid-template-columns: 1fr 1fr;

	&__left-menu {
		width: 445px;
		height: 513px;
		@extend %shadowForBlock;
		padding: 22px 37px;
	}

	&__right-menu {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		align-content: space-between;
	}

	&__button {
		width: 540px;
		height: 45px;
		background: #101010;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		color: #ffffff;
		font-size: 17px;
		line-height: 21px;
		text-align: center;
		margin-right: 5px;
		justify-self: end;
		padding: 16px 161px;
		&:hover {
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
		}
	}
	input {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		padding-left: 16px;
	}
}
.addresBlock {
	&__header {
		display: flex;
		margin-bottom: 20px;
		flex-direction: row;
		justify-content: space-between;
	}

	&__title {
		font-weight: 600;
		font-size: 17px;
	}

	&__delivery {
		font-weight: 500;
		font-size: 15px;
	}

	&__map {
		margin-bottom: 20px;
		iframe {
			border: none;
			border-radius: 14px;
		}
	}

	&__inputs {
	}
}
%inputStyle {
	border: none;
	background: #d6d6d6;
	border-radius: 15px;
	height: 45px;
	&:focus {
		outline: none;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
	}
}
.inputsBlock {
	&__title {
		display: flex;
		flex-direction: row;
		justify-content: start;
		margin-bottom: 14px;
		span {
			margin-left: 6px;
		}
	}

	&__content {
		width: 371px;
		height: 206px;
		form {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-content: space-between;
			position: relative;

			input {
				@extend %inputStyle;
			}
		}
		.input-sity {
			width: 370px;
		}
		.input-street {
			width: 370px;
		}
		.input-building {
			width: 164px;
		}
		.input-entrance {
			width: 164px;
		}
		.input-flat {
			width: 164px;
		}

		input {
			// background: #d6d6d6;
			// border-radius: 15px;
			// height: 45px;
			// border: 1px solid rgba(0, 0, 0, 0.5);
		}
	}
}

.orderItems {
	max-width: 540px;
	padding: 16px;
	min-height: 155px;
	@extend %shadowForBlock;
	&__title {
		text-align: left;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 16px 12px;
	}

	// .orderItems__delivery

	&__delivery {
		margin: 0 0 8px 70px;
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		max-width: 420px;
	}

	&__price {
		margin-left: 70px;
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		max-width: 420px;
	}

	&__content {
		margin: 0 0 8px 70px;
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		max-width: 420px;

		span {
			span {
				position: absolute;
				right: 900px;
			}
		}
	}
}

.paymentMethod {
	max-width: 540px;
	padding: 16px;
	@extend %shadowForBlock;
	&__title {
		text-align: left;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 16px 12px;
	}

	&__content {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		text-align: left;
		margin: 0 0 0 70px;
	}
}
.userPhoneNumber {
	position: relative;
	max-width: 540px;
	padding: 16px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	span {
		text-align: left;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 16px 12px;
	}
	@extend %shadowForBlock;
	input {
		@extend %inputStyle;
	}
}
.svg-userPhoneNumber {
	position: absolute;
	right: 22px;
	top: 70px;
}
.svg-input-sity {
	position: absolute;
	left: 345px;
	top: 12px;
}

.svg-input-street {
	position: absolute;
	left: 345px;
	top: 67px;
}

.svg-input-building {
	position: absolute;
	left: 137px;
	top: 119px;
}

.svg-input-entrance {
	position: absolute;
	left: 345px;
	top: 120px;
}

.svg-input-flat {
	position: absolute;
	left: 137px;
	top: 174px;
}
@media (max-width: 1099px) {
	.ordering {
		grid-template-columns: 1fr;
	}
	.ordering__left-menu {
		margin: auto;
	}
	.ordering__right-menu {
		margin: auto;
		margin-top: 20px;
	}
	.orderingTitle {
		text-align: center;
	}
}

@media (max-width: 960px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
	.ordering__button {
		max-width: 540px;

		padding: 16px 133px;
	}
}
// service

.serviceBlock {
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 5px 40px 25px 40px;
	margin-top: 42px;
	h3 {
		text-align: left;
	}
}
// contacts

.contactsWrapper {
	margin: 20px 0 0 0;
}
.contacts {
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 30px;
	max-width: 850px;
	max-height: 650px;
	h3 {
		text-align: left;
		margin-top: 0;
	}

	&__map {
		max-width: 750px;
		max-height: 550px;
		margin: auto;
		min-width: 431px;
		min-height: 266px;
		img {
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}
	}

	&__address {
	}
}
.address {
	margin-top: 14px;
	display: flex;
	flex-direction: row;
	svg {
		align-self: center;
	}
	&__title {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		margin-left: 8px;
	}

	&__subtitle {
		text-align: left;
		font-weight: 500;
		font-size: 13px;
		line-height: 16px;
		color: #838383;
		margin-top: 4px;
	}
}
.contactPhoneNumberWrapper {
	margin: 30px 20px 20px 50px;
	text-align: left;
}
.contactPhoneNumber {
	position: relative;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	svg {
		position: absolute;
		left: -50px;
	}
}

// orderConfirmed

.orderConfirmedWrapper {
	margin-top: 40px;
}

.orderConfirmed {
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	text-align: center;
	color: #1c1c27;
	padding: 30px 20px 20px 20px;
	max-width: 800px;
	width: 100%;
	height: 95px;
	margin: auto;
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}
